$primary: #35B520;
@import "~bootstrap/scss/bootstrap";
.text-primary {
    color:$primary;
}
.bg-redish {
    background-color: #F00303;
}
.hover\:bg-gray-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity)) !important;
}