$primary: #35B520;
@import "~bootstrap/scss/bootstrap";
.text-primary {
    color:$primary;
}
.bg-redish {
    background-color: #F00303;
}
.hover\:bg-gray-700:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--tw-bg-opacity)) !important;
}
.py-3-6 {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

@media only screen and (max-width: 768px){
    .logo {
        img {
            height: 65px !important;
        }
    }
}